@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #304dcf;
    --laranja: #52472d;
    --azul-degrade: linear-gradient(97.54deg, #ba6cda 35.49%, #775b36 165.37%);
    --fonte-principal: "Poppins";
    --azul: #9e7c5f;
    --fonte-secundario: "Josefin Sans";
    --preto: #ad0404;
    --cinza: #828a61;
    --cinza-claro: #f5f24f;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}